---
import { getRelativeLocaleUrl } from 'astro:i18n';
import Layout from '../../../layouts/Layout.astro';
import fetchApi from '../../../lib/strapi';
import Marked from '../../../components/Marked.astro';

export async function getStaticPaths({paginate}) {
    try {
        const response = await fetchApi({
        endpoint: 'blogs',
        wrappedByKey: 'data',
       locale: 'ar'
    });
     const articles = response || [];
    return articles.length > 0 ? paginate(articles, { pageSize: 2 }) : []
    } catch (error) {
        console.error("Error fetching blog articles:", error);
        return [];
    }
}
const {page} = Astro.props;
---

<Layout>
    {page ? (
    <h1>صفحة: {page.currentPage}</h1>
    <ul id="ul">
        {page.data.map((article)=>(
            <div class="card">
                <a href={`/blog${getRelativeLocaleUrl('ar')}${article.slug}`}>
                <h1>{article.title}</h1>
                </a>
                <Marked content={article.content}/>
            </div>
        ))}
    </ul>
    <div class="pagination">

        {page.url.prev ? <a href={page.url.prev}>الصفحة السابقة</a>: null} 
        
        {page.url.next ? <a href={page.url.next}>الصفحة التالية</a>: null}
    </div>
    ):
    <div>
        No Data Found!!!
    </div>}
</Layout>
