---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";


const data = await fetchApi({
    endpoint: "blogs",
    wrappedByKey: "data",
});

---

<Layout>
    <section id="blogSec">

    {data ? (
        <div id="homeDiv">
        {
            data.map((item: any, index) => (
                <div key={index}>
                    <a href={`/blog/${item.slug}`}>
                        <Image
                            src={`${item.image[0].url}`}
                            alt={item.title}
                            height="200"
                            width="200"
                            class="pic"
                        />
                    </a>
                    <h1>{item.title}</h1>
                </div>
            ))
        }
    </div>
    ):
    <div>No Data Found!!!</div>
    }
    <div id="localeSelector">
        <!-- Dropdown for language selection -->
        <select id="languageSelect">
            <option value="en">English</option>
            <option value="ar">العربية</option>
        </select>
    </div>
</section>
</Layout>

<script>
    // Select the language dropdown
    const languageSelect = document.querySelector("#languageSelect");

    // Function to update the locale based on the selected option
    languageSelect?.addEventListener("change", (event) => {
        const selectedLocale = event.target.value;
        let newUrl;

        if (selectedLocale === "ar") {
            // Update the URL to the Arabic locale
            newUrl = "/blog/ar";
        } else {
            // Update the URL to the English locale
            newUrl = "/blog/en";
        }

        // Update the history and reload to apply the selected locale
        window.history.pushState({ locale: selectedLocale }, "", newUrl);
        window.location.reload();
    });

    // Optional: Set the dropdown value based on the current URL
    const currentLocale = window.location.pathname.includes("/ar") ? "ar" : "en";
    languageSelect.value = currentLocale;
</script>

